<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль персонажа</title>
    <link rel="stylesheet" href={% static 'lord_of_rings/style.css' %} >
</head>

<body>
    <h1>А́рагорн</h1>

    <div class="div">
        <img class="Aragorn" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Aragorn.png/411px-Aragorn.png">
            alt="один из главных персонажей романа «Властелин колец» Дж. Р. Р. Толкина">
        <p><b>А́рагорн</b> — один из главных персонажей романа «Властелин колец» Дж. Р. Р. Толкина, последний вождь
            следопытов и первый король Воссоединённого Королевства, прямой потомок северной ветви королевского рода
            Элендила (по линии Исилдура, её старшей ветви — династии Амлайта Артэдайнского). Один из последних
            представителей нуменорцев.
        </p>
    </div>

    <h2>Имена и прозвища</h2>

    <div id="name_and_nickname">
        <ul class="name_and_nickname">
            <li ><b>Арагорн</b> на синдарине означает «почитаемый король» (revered king).</li>
            <li><b>Странник/Скороход/Колоброд/Бродяжник/Шатун (англ. Strider)</b>— прозвище, данное Арагорну жителями Севера
            Средиземья (например, в Пригорье), когда он был вождём следопытов.</li>
            <li><b>Дунадан (Dúnadan)</b> — прозвище Арагорна. Так его называли в Ривенделле. Дунэдайн (синд. dúnedain, в переводе с
            эльфийского — «люди с запада») — потомки нуменорцев (Верных).</li>
            <li><b>Тельконтар (Telcontar)</b> — имя, которое Арагорн (Элессар) дал своему правящему дому после воссоединения
            королевств Арнора и Гондора. Это имя — аналог прозвища «Strider», на квенья означает «ходящий пешком».
            Торонгил (Thorongil) — имя, используемое Арагорном с 2957 по 2980 гг. Т. Э., когда он инкогнито сражался в
            войсках Рохана и Гондора. Имя означает Звёздный Орёл. В Гондоре был близким другом наместника Эктелиона, под
            предводительством Арагорна войска Гондора совершили стремительный поход на пиратов Умбара. Однако после
            победы Арагорн не вернулся в Гондор.</li>
            <li><b>Элессар</b> — второе имя, с квенья переводится как «Эльфийский (драгоценный) камень». Это имя было дано ему в
            Лориэне владычицей Галадриэль; она же подарила ему магический камень с одноимённым названием. Позже
            гондорцы, не знавш</b>ие имени Арагорна, прозвали его точно так же, — Элессар или Эдельхарн (синд.).</li>
            <li><b>Энвиньятар</b> — прозвище, принятое Арагорном после коронации, в переводе с квенья означает «Обновитель».
            Эстель — имя, данное Элрондом в детстве. Так Арагорна звали до двадцати лет, когда он узнал своё настоящее
            имя. Переводится с эльфийского как «надежда». Имя указывает на роль Арагорна в судьбе Средиземья.</li>
            
        </ul>
    </div>

    <h2>
        <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%90%D1%80%D0%B0%D0%B3%D0%BE%D1%80%D0%BD">Ссылка на wikipedia</a>
    </h2>


</body>

</html>